.toggle {
  background-color: transparent;
  text-decoration: none !important;
  border: none;
  border-bottom: 1px solid var(--clr-black);
  color: var(--clr-black) !important;
  font-size: 14px !important;
}

.toggle:hover {
  color: var(--clr-gray-lighter);
  border-bottom: 1px solid var(--clr-gray-lighter);
}

@media (prefers-color-scheme: dark) {
  .toggle {
    border-bottom: 1px solid var(--clr-white);
    color: var(--clr-white) !important;
  }
}
