.toggle {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--clr-black);
}

.toggle:hover {
  color: var(--clr-gray-lighter);
  border-bottom: 1px solid var(--clr-gray-lighter);
}

@media (prefers-color-scheme: dark) {
  .toggle {
    border-bottom: 1px solid var(--clr-white);
  }
}
