.big_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  max-width: 1000px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.search {
  margin-bottom: 12px;
}

@media screen and (max-width: 500px) {
  .search {
    width: 100%;
  }
}
