.tabs_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

@media screen and (max-width: 500px) {
  .tab {
    font-size: var(--font-size-xxs);
    padding: 12px 8px;
    min-width: 0px;
  }
}
