.container {
  width: 100vw;
  max-width: 1000px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
  margin: 1rem auto;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1.5rem 1.5rem;
}

.title {
  margin-top: 16px;
}

.list {
  margin-top: 32px;
  background-color: none;
  border-radius: var(--border-radius);
}

.list_item {
  list-style-type: none;
  margin-left: -20px;
  margin-bottom: 8px;
  padding: 4px 8px;
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-gray-dark);
  border-radius: var(--border-radius);
}

.loader {
  margin-top: 150px;
}

@media (prefers-color-scheme: dark) {
  .main {
    background-color: var(--clr-gray);
    color: white;
  }
}
