.auth {
  margin: 1rem auto;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1.5rem 0.5rem;
}
.toggle {
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid var(--clr-black);
  color: var(--clr-black);

  font-size: 14px;
}

.toggle:hover {
  color: var(--clr-gray-lighter);
  border-bottom: 1px solid var(--clr-gray-lighter);
}

@media (prefers-color-scheme: dark) {
  .toggle {
    border-bottom: 1px solid var(--clr-white);
    color: var(--clr-white);
  }
  .auth {
    background-color: var(--clr-gray-dark);
    box-shadow: none;
  }
}
