.container {
  max-width: 700px;
  background-color: rgb(246, 228, 207);
  border-radius: 10px;
  padding: 16px;
}

.link {
  color: rgb(160, 160, 244);
}
.back_btn {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.info_container {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 16px;
  /* align-items: center; */
}
.scores {
  display: flex;
  flex-direction: column;
}
.times {
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: rgb(27, 26, 26);
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 8px;
  }
  .info_container {
    margin-top: 16px;
    /* margin-bottom: 16px; */
  }
  .back_btn {
    margin-bottom: 4px;
  }
  .info_container {
    margin-bottom: 16px;
  }
  .scores {
    /* margin-right: 16px; */
    font-size: 12px;
  }
  .times {
    /* margin-left: 16px; */
    font-size: 12px;
  }
}
