.container {
  background-color: rgb(241, 241, 241);
  border-radius: 4px;
  width: 300px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.img_container {
  width: 100px;
  height: 100px;
  position: relative;
}
.img {
  object-fit: "cover";
}
.text_container {
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text_container span {
  align-self: flex-end;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: rgb(27, 26, 26);
  }
}
