.container {
  background-color: var(--clr-gray-light);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 300px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.img_container {
  width: 100px;
  height: 100px;
  position: relative;
}
.img {
  object-fit: "cover";
}
.text_container {
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text_container span {
  align-self: flex-end;
}
.title {
  font-size: var(--font-size-sm);
  font-weight: 400;
}

.rate_fav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: var(--font-size-sm);
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: var(--clr-gray-dark);
  }
}
