.card_preview_loader {
  background-color: rgb(241, 241, 241);

  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.card_preview_loader_img {
  width: 74px;
}

.card_preview_loader__text {
  width: 100%;
  padding: 8px 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_preview_loader__rating {
  align-self: flex-end;
}

@media (prefers-color-scheme: dark) {
  .card_preview_loader {
    background-color: rgb(27, 26, 26);
  }
}
