.navBar {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  background-color: rgb(230, 228, 228);
}

.navBarList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.title {
  display: flex;
  flex-direction: column;
}

.logBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: rgb(252, 224, 249);
  border: 1px solid rgb(79, 78, 78);
}

.userContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0px 8px;
  border-radius: 4px;
  background-color: rgb(252, 224, 249);
  border: 1px solid rgb(79, 78, 78);
}

.userName {
  font-size: 12px;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  .navBar {
    background-color: rgb(53, 52, 52);
  }
  .logBtn {
    background-color: rgb(79, 3, 52);
    border: 1px solid rgb(79, 78, 78);
  }

  .logout {
    background-color: rgb(79, 3, 52);
    border: 1px solid rgb(79, 78, 78);
  }
}

@media screen and (max-width: 500px) {
  .navBar {
    padding: 4px 8px;
  }
  .navBarList {
    padding: 0;
  }
  .title {
    font-size: x-small;
    line-height: 0.6rem;
  }
}
