.container {
  width: 100vw;
  max-width: var(--max-width);
}
.back_btn {
  display: flex;
  align-items: center;
}

.title {
  text-align: center;
  margin-bottom: 24px;
}

.text {
  text-align: center;
}
